@import'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
body{
    font-family: 'poppins', sans-serif;
   
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smotting:antialiased;
}
header{
    background-color: var(--dark);
   clip-path: polygon(0 0, 100% 0, 100% 100%,70% 87%, 0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
@media (min-width:576px) {
    .container {
        min-width: 540px;
    }
}
@media (min-width:768px) {
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1280px){
    .container{
        
    }
}

header nav .left a{
    color: var(--light);
    text-decoration:none;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav {
    padding: 2rem 0;
    
}
header nav .branding {
    margin-right: 3rem;

}
.hero{
    padding: 3rem 0;
}
.hero .left img{
    width: 400px;
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span {
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
section{
    padding: 8rem 0;
}
section.about .about-me-img {
    height: 450px;
    margin-left: 320px;
    padding-bottom: 100px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 250;
    text-align: center;
}
section.about h1 span{
    color: var(--primary);
    
}
section.about h2{
    text-align: center;
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
}
section.about p{
    font-family: 'lato',sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    
    text-align: center;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s;
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}


.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading {
    color: var(--primary);
}
.section-heading + p{
    color: var(--ternary);
    font-family: 'lato', sans-serif;
    margin-bottom: 10rem;
    text-align: center;
}
section.services{
    background: var(--light);
}
section.services .card-wrapper{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 6rem;
    grid-column-gap: 8rem;
}

section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: all .3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -6.5rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px var(--primary);

}
section.services .card-wrapper .card h2{
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-weight: 'lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}
section.services .card-wrapper .card :hover{
    background: var(--dark);
}
section.services .card-wrapper .card :hover h2{
    color: var(--secondary);
}
section.services .card-wrapper .card :hover p{
    color: var(--secondary);
}
section.freelancer{
    text-align: center;
    background: url(./images/camera.png);
    background-color: var(--pure);
    margin-bottom: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 87% 0 100%);
    padding-bottom: 14rem;
}
section .freelancer  h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--pure);
}
section .freelancer p{
    margin-bottom: 2rem;
    font-family: 'lato' sans-serif;
    
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.contact .card-wrapper .card{
    text-align: center;
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 4rem;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}
section.contact .input-wrap-2 input{
    margin-bottom: 1rem;
    
}
section.contact input{
    padding: 0.7rem ;
    border: 1px solid var(--light);
    font-size: 1rem;
    margin: 30px;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 1rem;
    margin: 30px;
}
section.contact .input-wrap-2 textarea:focus{
    outline: none;
}
section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}
footer{
    background: var(--dark);
    text-align: center;
    padding: 6rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 200px;
}
footer .copyright{
    color: var(--ternary);
}
@media(max-width:1042px){
    header #main-nav{
        display: none;
    }
    .hero .left img{
        width: 260px;
    }
    .hero .right h1{
        font-size: 3rem;
    }
    .hero{
        padding-top: 10rem;
    }
    header{
        clip-path: polygon(0 0,100% 0, 100% 100%,27% 89%, 0 100%);
    }
    section.about .about-me-img{
        height: 360px;
        margin-left: 197px;
        padding-bottom: 21px;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}
.site-main-wrapper{
    position: relative;
}
@media (max-width:576px){
    .hero{
        flex-direction: column;
    }
    header{
        clip-path: polygon(0 0, 100% 0,100% 100%, 69% 95%,0 100%);
    }
    .hero .right{
        position: absolute;
        top: 260px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9));
    }
    .hero left{
        margin-top: -5rem;
        margin-right: -9rem;
        padding-bottom: 4rem;
    }
    .about-inner-wrap{
        flex-direction: column;
        
    }
    .section.about .about-me-img {
        height: 360px;
        margin-left: 20px;
        padding-bottom: 23px;
}